/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html {
    background-color: #34495E;
    color: #E4F1FE;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Oxygen', sans-serif;
}

.input {

    border: none;
    background-color: #34495E;
    font-size: 150%;
    color: white;
    padding: 15px;
}

input {
    outline: none;
}

input::placeholder{
    color: white;
}

.form {
    flex-direction: row;
    font-family: 'Oxygen', sans-serif;
    display: block;
    margin: 0 auto;
}
#alert {
    background-color: red;
    display: block;
}
#notice {
    background-color: green;
    display: block;
}
